.navv {
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 1;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 5px;
    background-color: rgb(15, 6, 23);
    margin-bottom: 20px;
    /* background-color: rgb(15,6,23); */
    /* Animation */
    transition-timing-function: ease-in;
    transition: all 0.5s;
    /* border-bottom: 0.5px solid white; */
    align-items: center;
}

.navv-links {
    width: fit-content;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 10px;
    font-weight: 400;
    /* border: 2px solid green; */
}

.imgg {
    width: 80px;
    height: 40px;
    margin-right: 20px;
    margin-top: 15px;
    /* border: 2px solid red; */
}

.navv-links a {
    text-decoration: none;
    color: white;
    margin-right: 25px;
}

.navv-links a h4 {
    font-weight: 300;
    font-size: 13px;

}

.navv-links a h4:hover {
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}

.navv-linkss {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    cursor: pointer;
    gap: 10px;
    /* border: 2px solid red; */
}

.input-div input {
    width: 300px;
    height: 40px;
    padding: 7px 20px;
    background-color: rgb(15, 6, 23);
    border: 1px solid rgb(84, 80, 87);
    border-radius: 5px;
}

/* .input-div{
    display: flex;
    flex-direction: column;
} */
.search-result {
    width: 300px;
    height: 200px;
    overflow-y: scroll;
    position: fixed;
    left: 47.5%;
    z-index: 5;
    border: none;
    top: 70px;
    background-color: #11051c;
}

.input-div i {
    position: relative;
    right: -23px;
}

.admin-button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(15, 6, 23);
    color: white;
    border: 1px solid white;
    font-weight: 200;
    margin-left: 10px;
    font-size: 12px;
}

.admin-button:hover {
    background-color: white;
    color: black;
}

.login-button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(15, 6, 23);
    color: white;
    border: 1px solid white;
    font-weight: 200;
    font-size: 12px;
    margin-left: 10px;
}

.login-button:hover {
    background-color: white;
    color: black;
}

.buy-button {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(92, 22, 149);
    color: white;
    font-weight: 200;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

.buy-button:hover {
    background-color: rgb(68, 12, 114);
    color: white;
}

.navv-linkss i {
    color: white;
}

.hum-Menu {
    color: white;
    background-color: rgb(92, 22, 149);
}

.hum-link a p:hover {
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}


@media screen and (max-width: 1080px) {
    .navv {
        display: flex;
        padding: 10px 25px;
        gap: 5px;
        z-index: 1;
        align-items: center;
        justify-content: space-between;
    }
.search-result{
    display: none;
}
    .navv-links {
        display: none;
    }

    .imgg {

        width: 80px;
        height: 40px;
        margin-top: 15px;
        z-index: 1;
        justify-items: left;
        align-items: flex-start;
    }

    .hum {
        margin-top: 10px;
    }

    .hum-Menu {
        color: white;
        background-color: rgb(92, 22, 149);
    }

    .hum-link a p:hover {
        border-bottom: 2px solid white;
        padding-bottom: 3px;
    }

    .navv-linkss {
        display: flex;
        flex-direction: row;
        width: fit-content;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        cursor: pointer;
        gap: 10px;
        /* border: 2px solid red; */
    }

    .login-button:hover {
        background-color: white;
        color: black;
    }

    .input-div {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .navv {
        display: flex;
        padding: 10px 20px;
        gap: 5px;
        z-index: 1;
        align-items: center;
        justify-content: space-between;

    }

    .navv-links {
        display: none;
    }

    .imgg {

        width: 80px;
        height: 40px;
        margin-top: 15px;
        z-index: 1;
        justify-items: left;
        align-items: flex-start;
    }

    .hum-Menu {
        color: white;
        background-color: rgb(92, 22, 149);
    }

    .hum-link a p:hover {
        border-bottom: 2px solid white;
        padding-bottom: 3px;
    }

    .hum {
        margin-top: 10px;
    }

    .navv-linkss {
        display: flex;
        flex-direction: row;
        width: fit-content;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        cursor: pointer;
        gap: 5px;
        /* border: 2px solid red; */
    }

    .login-button:hover {
        background-color: white;
        color: black;
    }

    .input-div {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .navv {
        display: flex;
        padding: 10px 20px;
        gap: 5px;
        z-index: 1;
        align-items: center;
        justify-content: space-between;

    }

    .navv-links {
        display: none;
    }

    .imgg {

        width: 80px;
        height: 40px;
        margin-top: 15px;
        z-index: 1;
        justify-items: left;
        align-items: flex-start;
    }

    .hum-Menu {
        color: white;
        background-color: rgb(92, 22, 149);
    }

    .hum-link a p:hover {
        border-bottom: 2px solid white;
        padding-bottom: 3px;
    }

    .hum {
        margin-top: 10px;
    }

    .navv-linkss .NavbarSecondPartV-Lan {
        display: none;
    }

    .navv-linkss .admin-button {
        display: none;
    }

    .navv-linkss .buy-button {
        display: none;
    }

    .navv-linkss .login-button {
        padding: 5px 5px;
        border-radius: 5px;
        background-color: rgb(15, 6, 23);
        color: white;
        border: 1px solid white;
        font-weight: 200;
        font-size: 10px;
        /* margin-left: 5px; */
        width: 50px;
        align-items: center;
    }

    .login-button:hover {
        background-color: white;
        color: black;
    }

    .input-div {
        display: none;
    }
}