:root{
    --primary:hsla(282, 89%, 11%, 0.75);
    --secondary:hsla(278, 85%, 3%, 200);
}
.headb{
    background:linear-gradient(180deg, var(--primary),var(--secondary)), url("https://s3images.zee5.com/wp-content/uploads/sites/7/2021/09/Screenshot-2021-09-18-at-2.42.35-PM.jpg");

    /* background:rgba(0,0,0,0.5) url("https://s3images.zee5.com/wp-content/uploads/sites/7/2021/09/Screenshot-2021-09-18-at-2.42.35-PM.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    background-position: center;
    /* background-blend-mode:darken;  */
 
    width: 100%;
    color: #ffffff;
}
.mainb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navb{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 0px 50px ;
    padding-top: 5px;
    
 
}
.logob{
    width: 50px;
}
.pln{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 5px;
}
.mainbob{
    /* border: 1px solid red; */
    padding: 30px;
    border-radius: 15px;
    background-color: #0F0617;

}
.boxb{
    /* border: 6px solid blue; */
    display: flex;
    gap: 40px;
    margin-top: 30px;
    padding: 30px;
}
.preb{
    /* border: 3px solid #e6dde3; */
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 20px;

}
.preb>div{
    border: 1px solid #d2c2cd;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;


}
.applyb{
    /* border: 1px solid #9d0d72; */
    background-color: #1D1425;
    display: flex;
    gap: 20px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
.payb{
    /* border: 3px solid red; */
    display: flex;
    gap: 20px;
    padding: 25px 30px;
    background-color: #1D1425;
    margin-top: 10px;
    border-radius: 0 0 10px 10px ;
    

}
.btnb{
    background-color: #8230C6;
    color: #ffffff;
    padding: 10px 150px;
    margin-left: 20px;
    border-radius: 10px;

}
.pb{
    font-size:12px ;
    margin-bottom: 10px;
    color: #a4a0a0dc;

    /* margin-top: 5px; */
}

.h2b{
    /* margin-bottom: 15px; */
    margin-top: 15px;

}
.fotterb{
display: flex;
justify-content: space-between;
padding: 15px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.fotb{
    font-size: 12px;
}

.iconb{
    /* border:  1px solid red; */
    /* padding-top: 60px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #a09999;
}


.iconb:hover,.iconb2:hover{
    background-color: #e6dbf0;
    /* padding: 3px; */
    color: #0F0617;
    border-radius: 10px;
}
.spre{
    background-color: #8230C6;

}


.fpre:hover,.spre:hover,.tpre:hover{
    /* border: 5px solid red; */
    background-color: #8230C6;
  
}
/* .spre:hover{
    border: 5px solid red;
    background-color: #8230C6;
  
}
.tpre:hover{
    border: 5px solid red;
    background-color: #8230C6;
  
} */
.iconb2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #a4a0a0dc;


}
.pre-conb{
    /* border:  1px solid red; */
    margin-top: 30px;
}









/* model */
body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    /* padding: 10px 20px; */
    display: block;
    /* margin: 100px auto 0; */
    /* font-size: 18px; */

 background-color: black;
    border-radius: 10px;
    color: #ffffff; 
    padding: 12px ;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
